<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <title>User Profile</title>
  </head>
  <body>
    <h1>User Profile</h1>
    <ul>
      <li><strong>Name:</strong> <%= user.name %></li>
      <li><strong>Nickname:</strong> <%= user.nickname %></li>
      <li><strong>Email:</strong> <%= user.email %></li>
      <li><strong>Email Verified:</strong> <%= user.email_verified %></li>
    </ul>
  </body>
</html>
