<!DOCTYPE html>
<html>
<head>
    <title>Login Successful</title>
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <h1>Login Successful</h1>
        <p>
            <strong>Name</strong>: Welcome <%= user.name %><br>
            <strong>Email</strong>: Your email is <%= user.email %><br>
        </p>
    </div>
    <a href="/logout">Logout</a>
</body>
</html>



