<!DOCTYPE html>
<html>
<head>
    <title>Login with Google</title>
    <link rel="stylesheet" type="text/css" href="./styles.css">
</head>
<body>
    <div class="container">
        <div class="google-logo"></div>
        <h1>Login with Google</h1>
        <a href="/auth/google"><button class="btn">Login with Google</button></a>
    </div>
</body>
</html>



